/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: rgb(241, 242, 242) !important;
  box-sizing: border-box;
}

nav {
  background-color: white;
}

nav a {
  color: #007bff !important;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.commentstitle {
  padding-top:10px;
  font-style: italic;
  color: #373fff;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color:#ffffff;
}

.blurr {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;   
    font-size: 25px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    width: 95%; 
    height: auto;
    overflow: hidden;
    position:relative;
    text-align: center;
    border-radius:10px;
    border: 1px solid #d0d0d0;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);

}

/*.blurr2 {
    padding-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    width: 95%;
    margin: auto;
    height: auto;
    overflow: hidden;
    position:relative;
    text-align: center;
    border-radius:10px;
    background-color: rgba(13, 42, 61, 0.75);
    border: 1px solid #d0d0d0;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);

} */


textarea {
  width: 95%;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);
  border-radius: 4px;
  border: 1px solid black;
  font-size: 0.8em;

}

.debate_display{

  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  display: inline-block;
}


.comments_display_pro{
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color:#314213;
  font-size: 1rem;
  padding:10px;
  margin:10px;
  width: 75%;
  overflow-wrap: break-word;
  display: inline-block;
  position:relative;
  border-radius:4px;
  text-align: left;
  border: 1px solid #314213;
  background-color: rgba(186, 218, 193, 0.75);
  box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);
}



.comments_display_con{

  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color:#310f13;
  font-size: 1rem;
  padding:10px;
  margin:10px;
  width: 75%;
  text-align: left;
  height: auto;
  display: inline-block;
  overflow-wrap: break-word;
  position:relative;
  border-radius: 4px;
  border: 1px solid #310f13;
  background-color: rgba(221, 146, 167, 0.75);
  box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);
}

.likes{
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color:#C65882;
  font-size: 1rem;
  padding:10px;
/*   margin-bottom: 25px; */
  margin:10px;
  width: 6%;
  float:left;
  position:relative;
  border-radius:4px;
  background-color: rgba(114, 10, 50, 0.75);
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.5);
}
.reset{
    left:30%;
    text-align: center;
    background: #7B0922;
    border-radius: 3px;
    box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.5);
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.reset:hover {
    background:#960B2A;
    transform: translateY(-3px);
}

.already_like_button {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 1rem;
    padding:10px;
    margin:10px;
    min-width: 14%;
    display: inline-block;
    cursor: pointer;
    position:relative;
    border-radius:4px;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);
    text-align: center;
    background: #48794d;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.already_like_button:hover {
    background:#a0a1a1;
    transform: translateY(-3px);
} 

.like_button {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size: 1rem;
    padding:10px;
  /*   margin-bottom: 25px; */
    margin:10px;
    min-width: 14%;
    display: inline-block;
    position:relative;
    border-radius:4px;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);
    text-align: center;
    background: #7b7c7d;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.like_button:hover {
    background:#a7d6ae;
    transform: translateY(-3px);
}
.like_button .far {
    margin-right: 5px;
}

.like_data{
  top: 82%;
  left:25%;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  color:#C65882;
  font-size: 1rem;
  padding:10px;
/*   margin-bottom: 25px; */
  display: block;
  margin: 10px auto 0px;
  width: 50%;
  position:absolute;
  border-radius:4px;
  background-color: rgba(114, 10, 50, 0.75);
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.5);
}

.submit{
  background-color: #656666; 
  border: none;
  border-radius:4px;
  color:  white;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.2);
}
.submit:hover {
  background-color: #78797a;
  color: white;
  transform: translateY(-3px);
}

.submit_comment{
  background-color: #283747; 
  border: none;
  border-radius:4px;
  color: #FBFBFB;
  margin-top: 25px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.submit_comment:hover {
  background-color: #34495E;
  color: #FBFBFB;
  transform: translateY(-3px);
}


.slider-button {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
}
.prevbutton {
/*   left:40%; */
  left:30%;
  top:90%;
  background-color: #154360; 
  border: none;
  border-radius:4px;
  color: #C1D6EB;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor:pointer;
  position:absolute;
} 
.nextbutton {
  right:30%;
  top:90%;
  background-color: #154360; 
  border: none;
  border-radius:4px;
  color: #C1D6EB;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor:pointer;
  position:absolute;
} 

.prevbutton:hover {
  background-color: #12364D;
  color: #C1D6EB;
  transform: translateY(-3px);
}

.nextbutton:hover {
  background-color: #12364D;
  color: #C1D6EB;
  transform: translateY(-3px);
}

.content-center {
  padding: 10px;
  text-align: center;
}
.image-container {
  margin-left: auto;
  margin-right: auto;
  margin-top:2%;
}

.imageview {
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  max-height: 500px;
  border-radius:20px;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.5);
  border: 1px solid gray;
  padding: 15px;
  
}

.navbuttons{
  background-color: #154360; 
  border: none;
  border-radius:4px;
  color: #C1D6EB;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  transition-duration: 0.4s;
  cursor:pointer;
  margin-left:6px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.navbuttons:hover {
  background-color: #12364D;
  color: #C1D6EB;
  transform: translateY(-3px);
}

.popup
{
    text-align: center;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    width:400px;
    height:300px;
    color: black;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-size:20px;
    padding:20px;
    border: none;
    border-radius:10px;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.5);
    border: 2px solid grey;
    z-index:9;
    display:none
}
.popup_text{
    text-align: center;
    position:absolute;
    top:30%;
    left:25%;
    overflow: auto;
    width:50%;
    height:40%;
}
.comment_input{
  margin-top: 20px;
}

.cancel
{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:25px;
    width: 25px;
    padding:0 0 5px 0;
    background-color:rgb(250, 85, 85);
    text-align:center;
    font-weight:bold;
    font-size:15px;
    color:white;
    border-radius:3px;
    z-index:10;
}

@media screen and (max-width: 800px) {
  .handlesize{
    width: 100%;  
    margin-right:10px;
  }
  }

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}